<div class="form-group">
  <%= form.label attribute, label: false, wrapper: false, error: false %>
  <%= form.input attribute, label: false, wrapper: false, error: false, class: "form-control", placeholder: placeholder || nil %>
  <%= form.full_error attribute, class: "form__item-error" %>
</div>
